<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.admin.mapper.extend.ResourceExtendMapper">

    <select id="selectByParentId" resultType="com.duke.microservice.admin.domain.basic.Resource">
        <if test="parentId != null">
            select id as id, parent_id as parentId, name as name
            from auth_resource
            where parent_id like #{parentId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByPathTreeLikeParentId" resultType="com.duke.microservice.admin.domain.basic.Resource">
        select id as id, parent_id as parentId, name as name, code as code, type as type, memo as memo
        from auth_resource
        <if test="parentId != null and parentId != ''">
            <bind name="str" value="'%'+parentId+'%'"/>
            where path_tree like #{str,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByIds" resultType="com.duke.microservice.admin.domain.basic.Resource">
        <if test="ids != null and ids.size() > 0">
            select  id as id, parent_id as parentId, name as name from auth_resource where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

</mapper>