<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.microservice.admin.mapper.extend.UserExtendMapper">

    <select id="select" resultType="com.duke.microservice.admin.domain.basic.User">
        select id           as id,
               gender       as gender,
               real_name    as realName,
               nick_name    as nickName,
               login_name   as loginName,
               login_mobile as loginMobile,
               login_email  as loginEmail,
               `status`     as status,
               create_time  as createTime,
               modify_time  as modifyTime,
               avatar       as avatar
        from auth_user
    </select>
    <select id="selectByIds" resultType="com.duke.microservice.admin.domain.basic.User">
        <if test="ids != null and ids.size() > 0">
            select
            id as id,
            gender as gender,
            real_name as realName,
            nick_name as nickName,
            login_name as loginName,
            login_mobile as loginMobile,
            login_email as loginEmail,
            `status` as status,
            create_time as createTime,
            modify_time as modifyTime,
            avatar as avatar
            from auth_user where status = 1 and id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>
</mapper>